aioredis==2.0.1
anyio
arq==0.26.1
asgiref==3.8.1
asyncio==3.4.3
asyncpg==0.29.0
fastapi==0.115.0
hiredis==3.0.0
langchain-community==0.3.0
langchain-openai==0.2.0
langchain-pinecone==0.2.0
openai==1.47.0
pinecone==5.3.1
pydantic==2.9.2
python-magic==0.4.27
python-multipart==0.0.10
redis==5.0.8
requests==2.32.3
tiktoken==0.7.0
unstructured==0.7.12
uvicorn==0.30.6
watchgod==0.8.2
websockets==13.1
